.section {
  &-hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100vh;
      @include backgroundImage("/files/main-bg.png", bottom);
    }

    &__title {
      color: $color-white;
      padding-top: 20vh;
      @include respond(tab-port) {
        padding-left: 3rem;
        padding-right: 3rem;
      }
      &-main {
        font-size: 3rem;
        font-weight: lighter;
        letter-spacing: 15px;
        padding-bottom: 10px;
      }
      &-sub {
        font-size: 1.5rem;
        font-weight: lighter;
        letter-spacing: 11px;
      }
    }
  }

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    &.first {
      margin-top: -30vh;
    }
    &__title {
      color: $color-white;
      font-size: 3.5rem;
      transform: scaleY(1.3);
      font-weight: lighter;
      letter-spacing: 12px;
      @include respond(tab-port) {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 2.8rem;
        letter-spacing: 10px;
      }
    }
  }

  &-about {
    padding-top: 10vh;
    &__details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;
      color: $color-white;

      &:nth-child(2) {
        padding-top: 110px;
        align-items: flex-end;
        text-align: right;
      }

      &-title {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 2.2rem;
      }
      &-descr {
        font-weight: lighter;
        font-size: 1.5rem;
        line-height: 1.4;
        max-width: 620px;
      }
    }
  }

  &-services {
    padding-top: 13rem;
    text-align: center;

    .swiper {
      padding-top: 4rem;
      padding-bottom: 4rem;

      &-slide {
        &:nth-child(1) {
          background-image: url("/files/service-1.png");
        }
        &:nth-child(2) {
          background-image: url("/files/service-2.png");
        }
        &:nth-child(3) {
          background-image: url("/files/service-3.png");
        }
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      gap: 25px;
      padding-top: 3rem;
      padding-bottom: 3rem;

      &-service {
        padding: 5rem 2rem 0px 2rem;
        height: 100%;
        min-height: 58rem;

        // Hide for slider
        // max-width: 26rem;
        // width: 100%;

        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 0;

        @include respond(tab-port) {
          // Hide for slider
          // width: 100vw;
          background-size: cover;
        }

        &:hover &-link {
          opacity: 1;
        }

        h4 {
          font-size: 3rem;
          font-weight: bold;
          color: $color-white;
          letter-spacing: 4px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            color: $color-light-pink;
          }
        }

        &-link {
          padding-bottom: 20px;
          opacity: 0;
          gap: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease-in-out;

          a {
            color: $color-white;
            padding-bottom: 5px;
            border-bottom: 2px solid $color-white;
            font-size: 1.2rem;
            font-weight: lighter;
            position: relative;
            &:hover {
              color: $color-light-pink;
              border-color: $color-light-pink;
            }
          }
        }

        &-items {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          gap: 3rem;
          li:hover {
            p {
              color: $color-light-pink;
            }
          }
          p {
            cursor: pointer;
            letter-spacing: 1px;
            font-size: 1.7rem;
            font-weight: lighter;
            color: $color-white;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    &__link {
      z-index: 100000;
      cursor: pointer;
      color: $color-white;
      font-weight: lighter;
      font-size: 1.7rem;
      padding-bottom: 5px;
      border-bottom: 2px solid $color-white;
      &:hover {
        color: $color-light-pink;
        border-color: $color-light-pink;
      }
    }
  }

  &-portfolio {
    padding-top: 13rem;

    &__projects {
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;
      align-items: stretch;
      justify-content: center;

      &-wrapper {
        width: 100%;
        max-width: 340px;
        img,
        video {
          width: 100%;
          transition: all 0.3s ease-in-out;
        }

        p {
          font-size: 2.4rem;
          color: $color-white;
          font-weight: lighter;
          letter-spacing: 2px;
          padding-top: 8px;
          display: none;
          @include respond(tab-port) {
            display: block;
          }
        }

        &.portfolio {
          video {
            display: none;
          }
          img {
            display: block;
          }
          &:hover {
            video {
              display: block;
            }
            img {
              display: none;
            }
          }
        }
      }
    }
  }

  &-contact {
    padding-top: 48rem;
    // padding:  25rem 0px 15rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 0px;
    @include respond(tab-port) {
      padding: 3rem;
      margin-top: 100px;
    }

    p:first-child {
      font-size: 4rem;
    }
    p {
      color: $color-white;
      font-size: 3rem;
      font-weight: lighter;
    }

    &__qrcode {
      position: relative;
      overflow-y: hidden;
      min-height: 275px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover &-icon {
        opacity: 1;
      }
      &-icon {
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $color-pink;
        transition: all 0.3s ease-in-out;
        opacity: 0;
      }
    }
  }
}
