.footer {
  &-main {
    padding-top: 32rem;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      li {
        &,
        a {
          color: $color-white;
          font-size: 1.8rem;
          font-weight: lighter;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $color-pink;
          }
        }
      }
    }

    p {
      color: $color-white;
    }

    @include respond(tab-port) {
      padding-top: 6rem;
      padding-bottom: 4rem;
      text-align: center;
      ul {
        padding: 0;
      }
      p {
        padding: 0;
      }
    }
  }
  &-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 10rem 24rem 5rem 24rem;

    @include respond(tab-port) {
      padding: 4rem;
      flex-direction: column;
    }

    ul {
      li {
        &,
        a {
          font-size: 18px;
          color: $color-white;
          transition: all 0.3s ease-in-out;
          white-space: nowrap;
          &:not(:last-child) {
            padding-bottom: 20px;
          }
          &:hover {
            color: $color-pink;
          }
        }
      }
    }
  }
}
