.section {
  &-about,
  &-services,
  &-portfolio {
    padding: 0px 25rem 0px 20rem;
    @include respond(tab-port) {
      padding: 0 3rem;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    text-align: left;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
      p {
        padding-right: 0;
      }
    }
    h4 {
      color: $color-white;
      font-size: 3rem;
      font-weight: bold;
      white-space: nowrap;
    }
    p {
      color: $color-white;
      font-size: 1.3rem;
      font-weight: lighter;
      max-width: 700px;
    }
  }
}
